<!DOCTYPE html>
<html>
    <head>

        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />

    </head>
    <body>
        <ul  class="navbar">
            <li class="navbar"><a class="active" href="/">Home</a></li>
            <li class="navbar"><a href="/games">Games</a></li>
            <li class="navbar"><a href="/accounts/login">Log in</a></li>
        </ul>
        <div id="container">
            <h2><b>Login</b></h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                {{ form.as_p }}
                <button type="submit" required>Input</button>
            </form>
            <hr>
            <a href="/accounts/profile/registration">Registration</a>

        </div>

    </body>
</html>