<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Регистрация</title>
        <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
        <style type="text/css">
            span{
                white-space: nowrap;
                font-size: 10px;
                color: #999999;
                font-style: italic;
            }
        </style>

    </head>
    <body>
        <ul class="navbar">
            <li class="navbar"><a class="active" href="/">Home</a></li>
            <li class="navbar"><a href="/games">Games</a></li>
            <li class="navbar"><a href="/accounts/login">Log in</a></li>
        </ul>
        <div id="container">
            <h2><b>Registration</b></h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                {{ form.as_p }}
                <button type="submit" required>Register</button>
            </form>
        </div>

    </body>
</html>
