<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Mister X</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />

</head>
<body>
    <h1>Mister X</h1>
    <ul class="navbar">
        <li class="navbar"><a class="active" href="/">Home</a></li>
        <li class="navbar"><a href="/games">Games</a></li>
        <li class="navbar"><a href="/accounts/profile">Profile</a></li>
        <li class="navbar"><a href="/accounts/login">Log in</a></li>
    </ul>
    <div id="container">
        <p class='insideContainer'>Это главная страница игры</p>
        <script>
            function openRules(){
                window.open('/rules');
            }
        </script>
        <p class='insideContainer'><input type='button' onclick='openRules()' value='Правила игры'></p>

        <table class='insideContainer' id="sensorDisplayWarning" style="border:5px solid #af0000"><tr><td>
        <p class='insideContainer' >Внимание!</p>
        <h3 class='insideContainer' >Игра не предназначена для сенсорных экранов!</h3>
                </tr></th>
    </div>
</body>

</html>
