<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
    <meta charset="UTF-8">
  </head>
  <body>
    <ul class="navbar">
        <li class="navbar"><a href="/">Home</a></li>
        <li class="navbar"><a class="active" href="/games">Games</a></li>
        <li class="navbar"><a href="/accounts/profile">Profile</a></li>
        <li class="navbar"><a href="/accounts/login">Log in</a></li>
    </ul>
    {% block body %}
    <div id="container">

    {# {% if messages %} #}
    {# <div> #}
    {#   <strong>Messages:</strong> #}
    {#   <ul> #}
    {#     {% for message in messages %} #}
    {#     <li>{{message}}</li> #}
    {#     {% endfor %} #}
    {#   </ul> #}
    {# </div> #}
    {# {% endif %} #}

    <div id="loginMenu">
    {#   <strong>Menu:</strong> #}
    {#   <ul> #}
    {#     {% if user.is_authenticated %} #}
    {#     <li><a href="{% url 'account_email' %}">Change E-mail</a></li> #}
    {#     <li><a href="{% url 'account_logout' %}">Sign Out</a></li> #}
    {#     {% else %} #}
    {#     <li><a href="{% url 'account_login' %}">Sign In</a></li> #}
    {#     <li><a href="{% url 'account_signup' %}">Sign Up</a></li> #}
    {#     {% endif %} #}
    {#   </ul> #}
    {# </div> #}
    <div class="second_div">
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
