h6.titleOfField {
    border: 0px solid black;
    padding: 2px;
    margin: 0px;
    background-color: #aaa;
    text-align: center;
}
div.gameField {
    background-color: #777;
    padding: 0px;
}
#stepsOfMisterx {
    /* height: 710px; */
    width: inherit;
}
#ticketsOfPlayer {
    height: 120px;
    width: inherit;
}
#specialArts {
    height: 120px;
    width: inherit;
}
#fieldOfMap {
    height: 1185px;
    width: inherit;
}
#additionalTabs {
}
.additionalField {
    height: 574px;
    width: inherit;
    margin: 2px 10px;
    display: none;
}
#evidencesField {
    display: block;
    overflow-y: auto;
}
#roles {
    background-color: none;
    width: 25%;
}
#evidences {
    background-color: none;
    width: 25%;
}
#pathsOfPlayers {
    background-color: none;
    width: 25%;
}
#chat {
    width: 25%;
}
#statusBar {
    padding: 0px 35px;
    text-align: right;
    background-color: #777;
    color: #aaa;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.col-md-2 {
    padding-right: 0px;
    padding-left: 15px;
}
.col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-10, .col-md {
    padding-right: 15px;
    padding-left: 0px;
}
.userButtons {
    width: 120px;
    height: 50px;
    float: right;
    padding: 1px;
    margin: 3px;
    /* font-family: 'Liberation Serif'; */
    font-size: 11pt;
}
.divButtons {
    width: 130px;
    float: right;
}
#evidencesTable {
    border: 3px;
    color: black;
    width: 90%;
}
#artHelp {
    float: left;
    width: 30%;
    padding: 10px;
}
#canvasSpecialArt {
    float: left;
}
.moveButtons {
    width: 30px;
    height: 50px;
    float: left;
    padding: 1px;
    margin: 3px;
    /* font-family: 'Liberation Serif'; */
    font-size: 11pt;
}
#moveArt {
    width: 30px;
    float: left;
}
