.radio-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 9pt;
}
.radio-container *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.radio-container .radio-btn{
    overflow: hidden;
}
.radio-container .radio-btn:last-child{
    border-right: 0px;
}
.radio-container .radio-btn.nth-4{width: calc(25% - 1.5px);}
.radio-container .radio-btn.nth-2{width: calc(50% - 1.5px);}
.radio-container .radio-btn label{
    background-color: transparent;
    color: #aaa;
    display: block;
    padding: 0px 0px;
    text-align: center;
}
.radio-container .radio-btn input{display: none;}
.radio-container .radio-btn input:checked + label{
    background-color: #aaa;
    color: #000;
}
