#p_prldr {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #5f00af;
    z-index: 30;
    font-family: "Calibri";
}
 
.contpre small {
    font-size:30px;
}
 
.contpre {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 78%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;
}
 
#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(oval.svg) center center no-repeat;
    background-size:41px;    
    margin: -16px 0 0 -16px;
}

#badger {
    position: absolute;
    left: 45%;top: 35%;
    width: 170px;
    height: 124px;
}
