body {
    background: white url("/static/img/background.png") repeat-y;
    background-size:100%;
    font-family: 'Verdana';

}
.datetime {
    font-size: 12px;
}
.second_div{
    margin-left: 15px;
}
.third_div{
    margin-left: 15px;
}
h1 {
    margin:25px;
    font-family: 'Trebuchet MS';
    color: darkorange;
}
button {
    height: 25px;
    border-radius: 3px;
    border: 1px solid ;
}

input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid ;
}
label{
    font-weight: bold;
    font-family: bold, "Verdana", serif;
}

#container{
    margin: auto;
    margin-top: 10px;
    width: 500px;
    box-sizing: content-box;
    position: relative;
    border: 10px solid #999999;
    border-radius: 10px;
    background: #dddddd;
    padding: 10px;
}


#games{
    width: 500px;
}
ul.errorList {
    color: red;
}

ul.socialaccount_providers li {
    display: inline;
    padding: 3px;
    margin: 5px;
}

.insideContainer {
    text-align: center;
}
table.insideContainer {
    margin: auto;
}
