ul.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    z-index: 1;
}

li.navbar {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child.navbar {
    border-right: none;
    border-left: 1px solid #bbb;
    float: right;
}

li.navbar a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a:hover:not(.active) {
    background-color: #ddd;
}

li.navbar a.active {
    color: white;
    background-color: steelblue;
}
