<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <ul class="navbar">
        <li class="navbar"><a href="/">Home</a></li>
        <li class="navbar"><a class="active" href="/games">Games</a></li>
        <li class="navbar"><a href="/accounts/profile">Profile</a></li>
        <li class="navbar"><a href="/accounts/logout">Log out</a></li>
    </ul>
    <div id="container">
        <h3>New game</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="second_div">
                <div>
                    <p>
		    	Game name:<br>
		    	{{form.game_name}}
		    </p>
		    <p>
		    	Numbers of players:<br>
		    	{{form.max_count_players}}
		    </p>
                </div>
                <hr>
            </div>

            <button type="submit">Create game</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>
