<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
</head>
<body>
    <h1>Detail of game</h1>
    <ul class="navbar">
        <li class="navbar"><a href="/">Home</a></li>
        <li class="navbar"><a class="active" href="/games">Games</a></li>
        <li class="navbar"><a href="/accounts/profile">Profile</a></li>
        <li class="navbar"><a href="/accounts/logout">Log out</a></li>
    </ul>
    <div id="container">
	<h1>{{game.game_name}}</h1>
        <p>Date created: {{game.create_date}}</p>
        <p>Date finished: {{game.finish_date}}</p>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <p>Number of gamers: {{game.count_gamers}}</p>
	<p>Maximum of gamers: {{game.max_count_players}}</p>
        <hr>
        {% if game.can_gamers_add == True or request.user in game.gamers.all %}
            <a href="{% url 'games:setup' game.id %}">Take part</a>
        {% else %}
            <p>You will not be added to this game. </p>
        {% endif %}

    </div>
</body>
</html>
