<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End of game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
</head>
<body>
    <h1>End of game</h1>
    <ul class="navbar">
        <li class="navbar"><a href="/">Home</a></li>
        <li class="navbar"><a class="active" href="/games">Games</a></li>
        <li class="navbar"><a href="/accounts/profile">Profile</a></li>
        <li class="navbar"><a href="/accounts/logout">Log out</a></li>
    </ul>
    <div id="container">
        <h1>{{ game.game_name }}</h1>
        <p>This game finished<p>
        <h3>Win: {{ win }}</h3>
        <p>MisterX is in {{ city }}</p>
    </div>
</body>
</html>
