{% load static %}
<!DOCTYPE html>
<!-- ONLY Misterx and Player -->
<html lang="en">
    <head>
    <link rel="shortcut icon" href="{% static 'img/badger_icon.png' %}" type="image/png">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- PixiJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	{# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
	{% csrf_token %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<!-- styles -->
	<link rel='stylesheet' type="text/css" href="{% static 'gameField/map/gameFieldStyles.css' %}">
	<link rel='stylesheet' type="text/css" href="{% static 'gameField/map/navbar_styles.css' %}">
	<link rel='stylesheet' type="text/css" href="{% static 'gameField/map/preload.css' %}">
	<title>Mr. X {{game.name}}</title>
    </head>
    <body id='gameScene'>
    <div id="p_prldr">
        <img id='badger' src="{% static 'gameField/map/badger_lite.png' %}">
        <div class="contpre">
            <span class="svg_anm"></span>
            <br>Подождите<br><small>идет загрузка</small>
        </div>
    </div>
    <script type="text/javascript">
        $(window).on('load', function () {
        var $preloader = $('#p_prldr'),
            $svg_anm   = $preloader.find('.svg_anm');
        $svg_anm.fadeOut();
        $preloader.delay(200).fadeOut('slow');
        });
    </script>

	<div class="container-fuild">
	    <div class="row">
		<div class="col-md" id="statusBar">
		    <a style="color: #005faf" href="{% url 'games:index' %}">Back to Games</a>
		    |
		    <a target="_blank" style="color: #005faf" href="/shortRules/" title="Tickets for special arts">Short rules</a>
		    |
		    Color of MisterX city: <i id="colorMisterX"></i>
		    |
		    Your colors: <i id="yourColors"></i>
		    |
		    You are <i id='yourRole'></i>
		    |
		    Queue: <i id='queue'></i>
		</div>
	    </div>
	    <div class="row">
		<div class="col-md-2">
		    <div class="gameField" id="stepsOfMisterx">
			<div class="titleOfField">
			    <h6 class="titleOfField">Steps of Mister X</h6>
			</div>
		    </div>
		    <div class="gameField" id="extremalAdditionalDiv">
			<div class="titleOfField">
			    <h6 class="titleOfField">Additional fields</h6>
			</div>
			<div id="additionalTabs" class="radio-container">
			    <div class="form-item radio-btn nth-2">
				<input type="radio" name="additionField" id="evidences" checked>
				<label class="addFieldTab" id="evidencesTab" for="evidences">evidences</label>
			    </div>
			    <div class="form-item radio-btn nth-2">
				<input type="radio" name="additionField" id="chat">
				<label class="addFieldTab" id="chatTab" for="chat">chat</label>
			    </div>
			    {# <div class="form-item radio-btn nth-4"> #}
				{# <input type="radio" name="additionField" id="paths"> #}
				{# <label class="addFieldTab" id="pathsTab" for="paths">paths</label> #}
			    {# </div> #}
			    {# <div class="form-item radio-btn nth-4"> #}
				{# <input type="radio" name="additionField" id="roles"> #}
				{# <label class="addFieldTab" id="rolesTab" for="roles">roles</label> #}
			    {# </div> #}
			</div>
			<div id="evidencesField" class="additionalField">
			    <table id="evidencesTable" border='1'>
				<tr><th>step</th><th>city</th></tr>
			    </table>
			</div>
			<div id="chatField" class="additionalField">chat</div>
			<!--<div id="pathsField" class="additionalField">paths</div>-->
			<!--<div id="rolesField" class="additionalField">roles</div>-->
		    </div>
		</div>
		<div class="col-md-10">
		    <div class="gameField" id="fieldOfMap">
			<div class="titleOfField">
			    <h6 class="titleOfField">Map</h6>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="col-md-6">
		    <div class="gameField" id="ticketsOfPlayer">
			<div class="titleOfField">
			    <h6 class="titleOfField">Your tickets</h6>
			</div>
			<div class="divButtons">
			    <input id="removeTickets" type="button" class="userButtons" value="Delete tickets" onclick="deleteCheckingTickets()">
			    <input id="compliteCourse" type="button" class="userButtons" value="Complite course" onclick="remakeTickets()">
			</div>
		    </div>
		</div>
		<div class="col-md-6">
		    <div class="gameField" id="specialArts">
                <div class="titleOfField">
                    <h6 class="titleOfField">Special arts</h6>
                </div>
                <div id="moveArt">
                    {# <input id="clearArts" type="button" class="moveButtons" value="<" onclick=clearArtsButton()> #}
                    {# <input id="addArts" type="button" class="moveButtons" value=">" onclick=addSpecialTicketsOnPage()> #}
                </div>
                <div id="artHelp">
                    <p id='typeSpecialArt'></p>
                    <p id='helpSpecialArt'></p>
                </div>
                <div id="canvasSpecialArt"></div>
                <div id="artButtons" class="divButtons">
                    <!--<input type="button" class="userButtons" value="Reset">-->
                </div>
		    </div>
		</div>

	    </div>
	</div>
	<script>
	    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
	    function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    $.ajaxSetup({
		beforeSend: function(xhr, settings) {
		    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    }
		}
	    });

	    {# Переключение табов additionalField #}
	    $('.addFieldTab').click(function(eventObject){
            tabId = eventObject.target.id;
            fieldId = '#' + String(tabId.slice(0, -3)) + 'Field';
            $(".additionalField").hide();
            $(fieldId).show()
	    });


	    function getPlayerRole() {
		$.get("ajax/get_role/", function(data){
		    document.roleGamer = data["role"];
		    document.getElementById("yourRole").innerHTML = data["role"];
		    $('#'+"yourRole").css('color', tableColorPlayerRole[data["role"]]);
		})
	    }

        function getColorMisterX() {
            $.get("ajax/get_color_misterx", function (data) {
                document.colorMisterX = data['color_misterx'];
                document.getElementById('colorMisterX').innerHTML = data['color_misterx'];
		$('#'+"colorMisterX").css('color', tableColorMisterX[data["color_misterx"]]);
            })
        }

	    function getQueue() {
		$.get("ajax/get_queue/", function (data){
		    document.queueRole = data["queue"];
		    document.getElementById("queue").innerHTML = data["queue"];
		    $('#'+"queue").css('color', tableColorQueue[data["queue"]]);
		})
	    }

	    function getPlayerTickets(){
		var jq = $.ajax({
		    url: "ajax/get_tickets/",
		    async: false,
		});
		jq.done(function(data) {
		    document.playerTickets = data["tickets"].split(",");
		});
		return document.playerTickets;
	    }

	    function getSteps() {
		var jq = $.ajax({
		    url: "ajax/get_steps_of_misterx/",
		    async: false,
		});
		jq.done( function (data) {
		    console.log(data);
		    document.stepsOfMisterX = data["steps"];
		    document.countStepsOfMisterX = data["count"];
		});
		return document.stepsOfMisterX;
	    }

	    function getPositions() {
		var jq = $.ajax({
		    url: "ajax/get_positions/",
		    async: false,
		});
		jq.done( function (data) {
		    document.positions = data;
		});
		return document.positions;
	    }

	    function checkMovePlayer(cities, dragTickets, color, specialArt) {
		var res = {"result": false, "res_city": 0, "res_tickets": []};
		if (specialArt != undefined) {
		    specialArt = specialArt.join(',');
		}
		var data = {"color": color, "drag": dragTickets.join(','), "special_arts": specialArt};
		if (cities.length == 3) {
		    data["city1"] = cities[0];
		    data["city2"] = cities[1];
		    data["city3"] = cities[2];
		}
		else if (cities.length == 2) {
		    data["start"] = cities[0];
		    data["end"] = cities[1];
		}

		var jq = $.ajax({
		    method: "post",
		    url: "ajax/check_move_player/",
		    data: data,
		    async: false,
		});
		jq.done( function (data) {
		    res["result"] = data["result"];
		    res["res_city"] = data["res_city"];
		    res["res_tickets"] = data["res_tickets"];
		});
		return res;
	    }

	    function removeTickets(tickets) {
		var res = [];
		var jq = $.ajax({
		    method: "post",
		    url: "ajax/remove_tickets/",
		    data: {
			"tickets": tickets.join(',')
		    },
		    async: false,
		});
		jq.done( function (data) {
		    res = data["res_tickets"].split(',');
		    console.log(res);
		});
		return res;
	    }

	    function compliteCourse() {
		var res;
		var jq = $.ajax({
		    method: "get",
		    url: "ajax/complite_course/",
		    async: false,
		});
		jq.done( function (data) {
		    res = data['tickets'].split(',');
		});
		return res;
	    }

	    function checkEnd() {
		var res;
		var jq = $.ajax({
		    method: "get",
		    url: "ajax/check_end/",
		    async: false,
		});
		jq.done( function (data) {
		    if (data["win"] == 'detectives') {
			alert("Detectives win!\n MisterX city - "+data['position']);
			window.location.href = "{% url 'games:end_game' game.id %}";
		    }
		    else if (data['win'] == 'misterx') {
			alert("MisterX win!\n MisterX city - "+data['position']);
			window.location.href = "{% url 'games:end_game' game.id %}";
		    }
		});
	    }


	    function getEvidences() {
		var res;
		var jq = $.ajax({
		    method: "get",
		    url: "ajax/get_evidences/",
		    async: false,
		});
		jq.done( function (data) {
		    res = data['evidences'];
		});
		return res;
	    }

	    function validateDoubleStep(drag) {
		var res;
		var jq = $.ajax({
		    method: "post",
		    url: "ajax/validate_double_step/",
		    data: {'drag': drag.join(',')},
		    async: false,
		});
		jq.done( function (data) {
		    res = data['result'];
		});
		return res;
	    }

	    function searchStep(drag) {
		var res;
		var jq = $.ajax({
		    method: "post",
		    url: "ajax/search_step/",
		    data: {'drag': drag.join(',')},
		    async: false,
		});
		jq.done( function (data) {
		    res = data
		});
		return res;
	    }

	    function validateAdditionStep(drag) {
		var res;
		var jq = $.ajax({
		    method: "post",
		    url: "ajax/validate_addition_step/",
		    data: {'drag': drag.join(',')},
		    async: false,
		});
		jq.done( function (data) {
		    res = data
		});
		return res;
	    }

	    function addSpecialTickets(drag) {
		var res;
		var jq = $.ajax({
		    method: "post",
		    url: "ajax/add_special_arts/",
		    data: {'tickets': drag.join(',')},
		    async: false,
		});
		jq.done( function (data) {
            tickets = data['tickets'].split(',');
            special = data['special'].split(',');
            for (var i=0; i<tickets.length; i++) {
                tickets[i] = i+'+'+tickets[i];
            }
            for (var i=0; i<special.length; i++) {
                special[i] = i+'+'+special[i];
            }
            res = {"tickets": tickets, "special": special, "result": data["result"]}
            console.log(res)
		});
		return res;
	    }

	    function getColors() {
		var jq = $.ajax({
		    method: "get",
		    url: "ajax/get_colors/",
		    async: true,
		});
		jq.done( function (data) {
		    inner = "";
			colors = data["colors"].split(", ");
		    for (var i=0; i<colors.length; i++) {
			inner += "<span style='color: " + tableColorFigure[colors[i]] + "'>■</span>";
		    }
		    $("#"+"yourColors").html(inner);
		});
	    }

	    function poll() {
		updatePage();	
		setTimeout(poll, 5000);
	    }


	</script>
	<script src="{% static 'gameField/js/countTicketsData.js' %}"></script>
	<script src="{% static 'gameField/js/startCitiesData.js' %}"></script>
	<script src="{% static 'gameField/js/citiesData.js' %}"></script>
	<script src="{% static 'gameField/js/connectionsData.js' %}"></script>
	<script src="{% static 'gameField/js/tableColors.js' %}"></script>

	<script src="{% static 'gameField/js/testToMove.js' %}"></script>
	<script src="{% static 'gameField/js/funcTicket.js' %}"></script>
	<script src="{% static 'gameField/js/deleteTicket.js' %}"></script>
	<script src="{% static 'gameField/js/movePlayers.js' %}"></script>
	<script src="{% static 'gameField/js/funcPlayers.js' %}"></script>
	<script src="{% static 'gameField/js/funcArt.js' %}"></script>

	<script src="{% static 'gameField/js/updatePage.js' %}"></script>

	<script src="{% static 'gameField/js/resize.js'%}"></script>
	<script src="{% static 'gameField/js/designation.js'%}"></script>
	<script src="{% static 'gameField/js/createCanvasMisterXTickets.js' %}"></script>
	<script src="{% static 'gameField/js/addMXTickets.js' %}"></script>
	<script src="{% static 'gameField/js/createTickets.js' %}"></script>
	<script src="{% static 'gameField/js/createSpecialTickets.js' %}"></script>
	<script src="{% static 'gameField/js/createCanvasTickets.js' %}"></script>
	<script src="{% static 'gameField/js/createCanvasSpecialArt.js' %}"></script>
	<script src="{% static 'gameField/js/createCanvasMap.js' %}"></script>
	<script src="{% static 'gameField/js/createPlayersOnMap.js' %}"></script>
	<script src="{% static 'gameField/js/createEvidences.js' %}"></script>

	<script src="{% static 'gameField/js/loaderImg.js' %}"></script>
	<!--<script>poll();</script>-->

    </body>
</html>
