{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'games/style_index.css' %}">
<body>
    <h1>Games</h1>
    <ul class="navbar">
        <li class="navbar"><a href="/">Home</a></li>
        <li class="navbar"><a class="active" href="/games">Games</a></li>
        <li class="navbar"><a href="/accounts/profile">Profile</a></li>
        <li class="navbar"><a href="/accounts/logout">Log out</a></li>
    </ul>
    <div id="container">
        <h3>Games</h3>
        <hr>
        <table class="games">
            <tr><td class="games">
                <a class="games" id="create_game" href="{% url 'games:create_game' %}">Create game</a>
            </td></tr>
        </table>
        <hr>
        {% if game_list %}
            <table class="games">
            {% for game in game_list %}
                <tr>
                    <td class="games">
                        <a href="{% url 'games:detail' game.id %}">{{ game.game_name }}</a>
                    </td>
                    <td class="games">
                        {% if game.can_gamers_add == True %}
                            <div class="status_game">..</div>
                        {% else %}
                            <div class="status_game">f</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No games are available.</p>
        {% endif %}

    </div>
</body>
</html>
