<!DOCTYPE html>
<html lang="en">
    <head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Setup game</title>
	{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'games/style_setup.css' %}">
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	{% csrf_token %}

    </head>
    <body>
	<ul class="navbar">
	    <li class="navbar"><a href="/">Home</a></li>
	    <li class="navbar"><a class="active" href="/games">Games</a></li>
	    <li class="navbar"><a href="/accounts/profile">Profile</a></li>
	    <li class="navbar"><a href="/accounts/logout">Log out</a></li>
	</ul>
	<div id="container">
	    <h1>{{ game.game_name }}</h1>
	    <hr>
	    <div id="tableRole" class="second_div">
		<p>You are <i style="color: #4CAF50">{{request.user}}</i>.</p>
		<p id="thColor" hidden><b>Color of Mr.X cities:</b>
		<select id='color_misterx'>
		    <option id='green'>green</option>
		    <option id='yellow'>yellow</option>
		    <option id='orange'>orange</option>
		</select></p>

		<div class="third_div">
		    <table class="gamers">
			<tr>
			    <th>Gamer</th><th>Status</th><th>Desire to be Mr.X</th>
			</tr>
			{% for gamer in game.gamers.all %}
			<tr>
			    <td class="gamers">{{gamer}}</td>
			    <td id="gamer{{gamer.id}}" class="status">
				{% if gamer == request.user %}
				<select id="in_status">
				    {% for opt in options %}
				    <option id="{{ opt }}">{{ opt }}</option>
				    {% endfor %}
				</select>
				{% else %}
				<i>Not ready</i>
				{% endif %}
			    </td>
			    <td id="misterx{{gamer.id}}" class="misterx">
				{% if gamer == request.user %}
				<select id="in_want">
				    <option id="No">No</option>
				    <option id="Yes">Yes</option>
				</select>
				{% else %}
				<i>No</i>
				{% endif %}
			    </td>
			</tr>
			
			{% endfor %}
		    </table>
		</div>
	    </div>
	    <hr>
	    <div class="chat" class="second_div" style="display:none">
		<input class='chat' type="text" id="input_text">
		<input type="button" value="Send">
		<p class="chat">---</p>
	    </div>
	</div>
	{% block javascript %}
	<script>
$(function (){
    var gamer_id = {{request.user.id}};
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
	beforeSend: function(xhr, settings) {
	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		xhr.setRequestHeader("X-CSRFToken", csrftoken);
	    }
	}
    });

    

    function poll() {
	$.get('ajax/status_gamers/', function(data){
	    var countReady = 0;
	    for(player of data.players) {
		if(player[1]) {
		    console.info('#gamer' + player[0]);
		    $('#gamer' + player[0]).html('<b>Ready!</b>');
		    countReady += 1;
		}
		if(player[2] == "misterx") {
		    console.info('#misterx' + player[0]);
		    $('#misterx' + player[0]).html('<b>Yes</b>');
		    
		    if (player[3] == true){
		    	document.getElementById("thColor").hidden = false;
		    }
		}
	    }
	    if (data.max_count == countReady){
		window.location.href = "{% url 'games:main' game.id %}";
	    }
	    else {
		setTimeout(poll, 5000);
	    }
	   

	});
    };
    poll();

    $("#in_status").on('change', function () {
	var status = $(this).val();
	$.post({
	    url: 'ajax/status_gamers/',
	    data: {
		'status': status,
	    },
	    dataType: 'json',
	    success:
	    function (data) {
		console.info('Success send status ready', data);
	    }
	});
    });
    $("#in_want").on('change', function () {
	var status = $(this).val();
	$.post({
	    url: 'ajax/status_gamers/',
	    data: {
		'status': status,
	    },
	    dataType: 'json',
	    success:
	    function (data) {
		console.info("Success send status MX", data);
		if (data["role"] == true){
		    document.getElementById("thColor").hidden = false;
		}
		else {
		    $("#thColor").hidden = true;
		}
	    }
	});
    });
    $("#color_misterx").on('change', function () {
	var color = $(this).val();
	console.log(color);
	$.post({
	    url: 'ajax/color_misterx/',
	    data: {
		'color': color,
	    },
	    dataType: 'json',
	    success:
	    function (data) {
		console.info('Success send color MX', data);
	    }
	});
    });
});
	</script>
	{% endblock %}
    </body>
</html>
