body {
    font-family: Calibri;
    background: rgba(0, 100, 100, 0.2);
}
.ticket {
    height:140px; 
}
.special{
    height:70px;
}
#detective{
    background-color: rgba(255, 135, 0, 1);
    position:static;
    padding:5px; 
    width:480px;
}
#misterx{
    background-color: rgba(90, 153, 218, 1);
    position:static;
    padding:5px;
    width:480px;    
}